.Hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.Hero img{
    margin-top: 10px;
    width: 400px;

}

.Hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.Hero h1 span{
    background: linear-gradient(270deg, #0ef 10%, #1576ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Hero p{
    text-align: center;
    font-size: 24px;
    width: 50%;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #0ef -5.09%, #1576ff 106.28%);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;

}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}

.hero-resume:hover{
    border-color: #1576ff;
}

@media(max-width:768px){
    .Hero{
        margin-top: 120px;
        width: 660px;

    }

    .Hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;

    }

    .Hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
   
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
     
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }

    

}